<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <body>
        <!--Embed JS code with the <% %> tag-->
        <h1 class="text-3xl font-bold text-real-500">
            <%=message %>
        </h1>
        <p>Response created using EJS</p>
    </body>
</html>